.bigbtn {
    height: 100px;
    background-size: cover;
    display: flex;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.bigbtn-1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
    font-size: 36px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.bigbtn-2 {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 200px;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

a {
    text-decoration: none;
    color: white;
}

@media (max-width: 800px) {
    .bigbtn-1 {
        font-size: 24px;
    }

    .bigbtn-2 {
        font-size: 36px;
    }
}

.pfp {
    float: left;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-right: 20px;
}